<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API de Livros VNW</title>
</head>
<body>
    <h1>API de doação de livros</h1>
    <hr>
    <h2>Como usar a api ?</h2>

    <ul>
        <li>Para acessar os livros (GET):ttp://127.0.0.1:5000/livros</li>
        <li>Para doar um livro (POST):http://127.0.0.1:5000/doar</li>
        <li>Para deletar um livro (DELETE): http://127.0.0.1:5000/livros/"id do livro"</li>
    </ul>
  
</body>
</html>